language: node_js
node_js:
- 0.12
env:
  global:
    secure: TL/sHy7u2Akjop4nc3AYC+63avuDqKrMjnvAtaLdt8imRGl9c8qdvewlGUPjsczmv67SnB0N9+QF5z3p8ANMJXig9Ll8m0RFcpwBf+q1Z9g+j/ochGs+HzyZvLaZJRApux181amhkjfq5H5ZiMX6m+RXvLPH0d7lcnuY5Ft75G+F/REiFEtwJZ9iTVtmALeTpebROo2KHLqmQU0gQPJ3z0eTQbWqARyJLWc2rr8jnOqD89jWxa8UQPmp9kVJV05i+mVGfHmBUdftaPNadtTrCrLcRZnyjTEZIqMffg9A9ISIHFYbaD4mzkJEIQdq/0V7h4tJ590hDxpZsf98p/MT3FkegzLy6SXTeXtjfrVul9tQHZ5rY26ZWrxnUVvh8najFYpPLGqqIkwLSzZu52N1PKacEDVjSAm0b8NHNgMNO0D5uY91iIhkOvw3pvwQyE9JWWlPPUrPlrKr9OQo827DcNRbK4XvENyY05WgzuD+sWjgKwT8u+MNVWx57SZw9H58FbcT3OauwEZwDhq4SIhaC9gu4ins7prd6O3h6Sxdlqivi4wv7KCVmVSs+kSRO/PjZhTQnI3A3iTKuyvnHbcI0tclu1lch/W9gSDGd01SV5F3p48DwfuwzZ9e3OabFM/RxrxJrjgq8HNa+kWGqZ0NnriutZTIp8mJoTYP7VXdfOM=

after_success: 'npm run coverage'
